.input-width {
    width:100%;
}

.icon-more-actions {
    float: right;
    margin: -20px;
}

.icon-more-actions:focus {
    outline: none;
}

.content-flex {
    height: 100%;
    margin: 1% 4% 1% 4%;
}