.body {
    padding-bottom: 115px;
    background-color: #d3e0e2;

    .hero {
        height: 220px;
        padding: 10px 35px;
        background: linear-gradient(to bottom, #00b8d4, #2BBBAD);
        
        a:first-child {
            color: #fff;
            margin-left: -10px;
        }
        a, mdb-icon { color: #fff; }

        .header-page {
            margin-top: 50px;

            .name-page {
                h2 {
                    text-align: center;
                    float: left;
                    color: #fff; 
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
                }

                mat-icon { 
                    margin-right: 20px;
                    font-size: 32px;
                    color: #fff;
                    float: left;
                }

                h2, mat-icon { cursor: pointer; }
            }

            button { margin-top: -10px }
        }
    }

    .graphic {
        margin: -70px 35px;
        padding: 40px 35px 40px 35px;
        background-color: #fff;
        border-radius: 6px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        mat-form-field { width: 100% }

        h5 { text-align: center }

        mdb-card {
            cursor: pointer;
            margin-bottom: 30px;

            h4 { margin-top: -10px }

            mat-icon {
                font-size: 40px;
                float: right;
                margin-top: 10px;
            }
        }

        mdb-card.saldo-atual {
            background-color: #ffbb33;

            p, h4, mat-icon {
                color: #fff;
            }
        }

        mdb-card.rendimento-total-entradas {
            background-color: #0099CC;

            p, h4, mat-icon {
                color: #fff;
            }
        }

        mdb-card.rendimento-total-saidas {
            background-color: #ff4444;

            p, h4, mat-icon {
                color: #fff;
            }
        }

        .empty-data {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;
            padding: 40px;
            margin-top: 20px;
            h5 { margin-top: 15px }
        }

        .main-content {
            .rendimentos, .receitas {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 720px) {
    .body {
        display: none;
    }

    .mobile {
        padding-bottom: 20px;

        .hero {
            height: 240px;
            background: linear-gradient(to bottom, #00b8d4, #2BBBAD);
      
            .header-page {
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;       
                padding: 60px;

                .name-page {
                    h2 {
                        text-align: center;
                        float: left;
                        color: #fff; 
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
                    }
    
                    mat-icon { 
                        margin-right: 20px;
                        font-size: 32px;
                        color: #fff;
                        float: left;
                    }

                    h2, mat-icon { cursor: pointer; }
                }

                button { width: 290px }
            }
        }

        .history {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            padding: 10px;
            
            mdb-card {
                cursor: pointer;
                margin-bottom: 10px;
    
                h4 { margin-top: -10px }
    
                mat-icon {
                    font-size: 40px;
                    float: right;
                    margin-top: 10px;
                }
            }
    
            mdb-card.saldo-atual {
                background-color: #ffbb33;
    
                p, h4, mat-icon {
                    color: #fff;
                }
            }
    
            mdb-card.rendimento-total-entradas {
                background-color: #0099CC;
    
                p, h4, mat-icon {
                    color: #fff;
                }
            }
    
            mdb-card.rendimento-total-saidas {
                background-color: #ff4444;
    
                p, h4, mat-icon {
                    color: #fff;
                }
            }

            .empty-data {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: center;
                padding: 40px;
                margin-top: 20px;
                h5 { margin-top: 15px }
            }

            .main-content {
                mat-form-field { width: 100% }

                .rendimentos, .receitas {
                    margin-top: 30px;
                }
            }
        }
    }
}

@media (min-width: 720px) {
    .mobile { display: none }
}