<app-menu></app-menu>
<div class="body">
    <div class="hero">
        <div class="row header-page">
            <div class="col-sm-6 col-md-8 col-lg-9 col-xl-10">
                <div class="name-page">
                    <mat-icon>equalizer</mat-icon>
                    <h2>Histórico</h2>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" mdbWavesEffect (click)="alimentarGrafico()">ATUALIZAR</button>
            </div>
        </div>
    </div>

    <div class="graphic z-depth-1-half">
        <div class="loading" *ngIf="indicadorDeCarregamento">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="saldo-atual z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Saldo atual</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4 >{{ historico.saldoAtual | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="rendimento-total-entradas z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Rendimento de entradas</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4>{{ historico.rendimentoTotalEntradas| currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="rendimento-total-saidas z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Rendimento de saidas</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4>{{ historico.rendimentoTotalSaidas | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Histórico de rendimentos de {{ anoAtual }}</h5>
            </div>
            <div class="col-12">
                <div mdbWavesEffect>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [(datasets)]="rendimentos"
                        [labels]="chartLabels"
                        [colors]="rendimentosCores"
                        [options]="chartOptions"
                        [legend]="true"
                    >
                    </canvas>
                </div>
            </div>
        </div>
        <div class="row"><br><br></div>
        <div class="row">
            <div class="col-12">
                <h5>Histórico de saldo de {{ anoAtual }}</h5>
            </div>
            <div class="col-12">
                <div mdbWavesEffect>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [(datasets)]="saldos"
                        [labels]="chartLabels"
                        [colors]="receitasCores"
                        [options]="chartOptions"
                        [legend]="true"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile">
    <div class="hero">
        <div class="header-page">
            <div class="name-page">
                <mat-icon>equalizer</mat-icon>
                <h2>Histórico</h2>
            </div>
            <button type="button" mdbBtn color="light" block="true" class="z-depth-0" mdbWavesEffect (click)="alimentarGrafico()">ATUALIZAR</button>
        </div>
    </div>
    <br>
    <div class="main">
        <div class="loading" *ngIf="indicadorDeCarregamento">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="saldo-atual z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Saldo atual</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4 >{{ historico.saldoAtual | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="rendimento-total-entradas z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Rendimento de entradas</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4>{{ historico.rendimentoTotalEntradas| currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="rendimento-total-saidas z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Rendimento de saidas</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4>{{ historico.rendimentoTotalSaidas | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <p class="text-center">Histórico de rendimentos de {{ anoAtual }}</p>
        <mdb-card mdbWavesEffect>
            <mdb-card-body>
                <div>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [(datasets)]="rendimentos"
                        [labels]="chartLabels"
                        [colors]="rendimentosCores"
                        [options]="chartOptions"
                        [legend]="true"
                    >
                    </canvas>
                </div>     
            </mdb-card-body>
        </mdb-card> 
        <p class="text-center">Histórico de contagens de {{ anoAtual }}</p>  
        <mdb-card mdbWavesEffect>
            <mdb-card-body>
                <div>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [(datasets)]="saldos"
                        [labels]="chartLabels"
                        [colors]="receitasCores"
                        [options]="chartOptions"
                        [legend]="true"
                    >
            </canvas>
                </div>     
            </mdb-card-body>
        </mdb-card>   
    </div>
</div>
<app-footer></app-footer>
