<app-menu></app-menu>
<div class="body">
    <div class="hero">
        <div class="row header-page">
            <div class="col-sm-6 col-md-8 col-lg-9 col-xl-10">
                <div class="name-page">
                    <mat-icon>batch_prediction</mat-icon>
                    <h2>Histórico</h2>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" mdbWavesEffect (click)="alimentarGrafico()">ATUALIZAR</button>
            </div>
        </div>
    </div>

    <div class="graphic z-depth-1-half">
        <div class="loading" *ngIf="indicadorDeCarregamento">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="saldo-atual z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Saldo atual</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4 >{{ receitas.currentBalance | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="rendimento-total-entradas z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Total de receitas</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4>{{ receitas.incomeRecipes | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="rendimento-total-saidas z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Total de despesas </p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4>{{ receitas.incomeExpenses | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mdb-card class="empty-data" *ngIf="receitas.incomeRecipes == 0 && receitas.incomeExpenses == 0" mdbWavesEffect>
                    <mdb-card-body>
                        <img src="/assets/img/box-empty.png" alt="empty" width="200px" height="200px">
                        <h4>Nenhuma registro encontrado</h4>
                        <h5>Verifique o periodo solicitado</h5>      
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <div class="main-content" *ngIf="receitas.incomeRecipes != 0 || receitas.incomeExpenses != 0">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header mdbWavesEffect>
                        <mat-panel-description>Escolha um ano de referência</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Ano</mat-label>
                                <mat-select [(value)]="anoSelecionado" (selectionChange)="alimentarGrafico()">
                                    <mat-option *ngFor="let ano of anos; let i = index" [value]="ano">{{ ano }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="row rendimentos">
                <div class="col-12">
                    <h5>Histórico de rendimentos de {{ anoSelecionado }}</h5>
                </div>
                <div class="col-12">
                    <div mdbWavesEffect>
                        <canvas mdbChart
                            [chartType]="chartType"
                            [(datasets)]="rendimentos"
                            [labels]="chartLabels"
                            [colors]="rendimentosCores"
                            [options]="chartOptions"
                            [legend]="true"
                        >
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="row receitas">
                <div class="col-12">
                    <h5>Histórico de faturamento de {{ anoSelecionado }}</h5>
                </div>
                <div class="col-12">
                    <div mdbWavesEffect>
                        <canvas mdbChart
                            [chartType]="chartType"
                            [(datasets)]="faturamento"
                            [labels]="chartLabels"
                            [colors]="faturamentoCor"
                            [options]="chartOptions"
                            [legend]="true"
                        >
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile">
    <div class="hero">
        <div class="header-page">
            <div class="name-page">
                <mat-icon>batch_prediction</mat-icon>
                <h2>Histórico</h2>
            </div>
            <button type="button" mdbBtn color="light" block="true" class="z-depth-0" mdbWavesEffect (click)="alimentarGrafico()">ATUALIZAR</button>
        </div>
    </div>
    <br>
    <div class="history">
        <div class="loading" *ngIf="indicadorDeCarregamento">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="saldo-atual z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Saldo atual</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4 >{{ receitas.currentBalance | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="rendimento-total-entradas z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Total de receitas</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4>{{ receitas.incomeRecipes | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <mdb-card class="rendimento-total-saidas z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Total de despesas</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4>{{ receitas.incomeExpenses | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mdb-card class="empty-data" *ngIf="receitas.incomeRecipes == 0 && receitas.incomeExpenses == 0" mdbWavesEffect>
                    <mdb-card-body>
                        <img src="/assets/img/box-empty.png" alt="empty" width="200px" height="200px">
                        <h4>Nenhuma registro encontrado</h4>
                        <h5>Verifique o periodo solicitado</h5>      
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <div class="main-content" *ngIf="receitas.incomeRecipes != 0 || receitas.incomeExpenses != 0" >
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header mdbWavesEffect>
                        <mat-panel-description>Escolha um ano de referência</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Ano</mat-label>
                                <mat-select [(value)]="anoSelecionado" (selectionChange)="alimentarGrafico()">
                                    <mat-option *ngFor="let ano of anos; let i = index" [value]="ano">{{ ano }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="row rendimentos">
                <div class="col-12">
                    <p class="text-center">Histórico de rendimentos de {{ anoSelecionado }}</p>
                </div>
                <div class="col-12">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <div>
                                <canvas mdbChart
                                    [chartType]="chartType"
                                    [(datasets)]="rendimentos"
                                    [labels]="chartLabels"
                                    [colors]="rendimentosCores"
                                    [options]="chartOptions"
                                    [legend]="true"
                                >
                                </canvas>
                            </div>     
                        </mdb-card-body>
                    </mdb-card> 
                </div>
            </div>
        
            <div class="row receitas">
                <div class="col-12">
                    <p class="text-center">Histórico de geral de faturamento de {{ anoSelecionado }}</p>  
                </div>
                <div class="col-12">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <div>
                                <canvas mdbChart
                                    [chartType]="chartType"
                                    [(datasets)]="faturamento"
                                    [labels]="chartLabels"
                                    [colors]="faturamentoCor"
                                    [options]="chartOptions"
                                    [legend]="true"
                                >
                        </canvas>
                            </div>     
                        </mdb-card-body>
                    </mdb-card>   
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
