<app-menu></app-menu>
<div class="body">
    <div class="hero">
        <div class="row header-page">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <mat-icon>equalizer</mat-icon>
                <h2>Histórico</h2>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h5>Saldo: {{ this.tesouraria.saldoAtual | currency:'BRL' }}</h5>
            </div>
        </div>
    </div>

    <div class="graphic z-depth-1-half">
        <div class="row">
            <div class="col-12">
                <h5>Histórico de movimentações de {{ now }}</h5>
            </div>
            <div class="col-12">
                <div>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [(datasets)]="chartDatasets1"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true"
                    >
                    </canvas>
                </div>
            </div>
        </div>
        <div class="row"><br><br></div>
        <div class="row">
            <div class="col-12">
                <h5>Histórico de contagens de {{ now }}</h5>
            </div>
            <div class="col-12">
                <div>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [(datasets)]="chartDatasets2"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile">
    <div class="hero">
        <div class="header-page">
            <div class="name-page">
                <mat-icon>equalizer</mat-icon>
                <h2>Histórico</h2>
            </div>
            <h4>Saldo: {{ this.tesouraria.saldoAtual | currency:'BRL' }}</h4>
        </div>
    </div>
    <br>
    <div class="main">
        <p class="text-center">Histórico de movimentações de {{ now }}</p>
        <div>
            <canvas mdbChart
                [chartType]="chartType"
                [(datasets)]="chartDatasets1"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true"
            >
            </canvas>
        </div> 
        <br><br>
        <p class="text-center">Histórico de contagens de {{ now }}</p>  
        <div>
            
            <canvas mdbChart
                [chartType]="chartType"
                [(datasets)]="chartDatasets2"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true"
            >
            </canvas>
        </div>   
    </div>
    <br><br>
</div>
<app-footer></app-footer>
