<app-menu></app-menu>
<div class="body">
    <div class="hero">
        <div class="row header-page">
            <div class="col-sm-6 col-md-8 col-lg-9 col-xl-10">
                <div class="name-page">
                    <mat-icon>whatshot</mat-icon>
                    <h2>Contagens</h2>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="abrirModalCriar(modalCriar)" mdbWavesEffect>NOVA CONTAGEM</button>
            </div>
        </div>
    </div>
    <div class="score z-depth-1-half">
        <div class="header">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <mdb-card class="saldo-inicial z-depth-0" mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>attach_money</mat-icon>
                            <mdb-card-text>
                                <p>Saldo inicial</p>
                            </mdb-card-text>
                            <mdb-card-title>
                                <h4 >{{ tesouraria.saldoInicial | currency:'BRL' }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <mdb-card class="saldo-atual z-depth-0" mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>attach_money</mat-icon>
                            <mdb-card-text>
                                <p>Saldo atual</p>
                            </mdb-card-text>
                            <mdb-card-title>
                                <h4 >{{ tesouraria.saldoAtual | currency:'BRL' }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <mdb-card class="saldo-real z-depth-0" mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>attach_money</mat-icon>
                            <mdb-card-text>
                                <p>Saldo real</p>
                            </mdb-card-text>
                            <mdb-card-title>
                                <h4 *ngIf="tesouraria.contagens[0] != null">{{ tesouraria.contagens[tesouraria.contagens.length - 1].saldoReal | currency:'BRL' }}</h4>
                                <h4 *ngIf="tesouraria.contagens[0] == null">Não contabilizado</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
            <div class="all-delete">
                <div class="alert alert-warning" role="alert" *ngIf="contagensSelecionadas.length > 1">
                    {{ contagensSelecionadas.length }} selecionado(s) ...
                    <button (click)="deletarContagensSelecionadas()" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="main">
            <ngx-datatable
                [rows]="rows"
                class="material"
                [loadingIndicator]="indicadorDeCarregamento"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [messages]="{emptyMessage: '<center>Nenhuma contagem cadastrada</center>', totalMessage: 'total', selectedMessage: 'selecionado'}"
                [selectionType]="'checkbox'"
                (select)="aoSelecionar($event)"
                [selected]="contagensSelecionadas"
                [limit]="6"
            >
            <ngx-datatable-column
                [width]="60"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                [headerCheckboxable]="true"
                [checkboxable]="true">
            </ngx-datatable-column>
                <ngx-datatable-column name="ID" [width]="50" prop="id"></ngx-datatable-column>
                <ngx-datatable-column name="Tesouraria" [width]="250">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{ tesouraria.nome }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Saldo real" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{ row.saldoReal | currency:'BRL' }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Registrado em" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{ row.registro | dateFormat }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Ações" [width]="100">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <button class="button-actions" (click)="abirModalEditar(row, modalEditar)" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="button-actions" (click)="deletarContagem(row)" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<div class="mobile">
    <div class="hero">
        <div class="header-page">
            <div class="name-page">
                <div class="name-page">
                    <mat-icon>whatshot</mat-icon>
                    <h2>Contagens</h2>
                </div>
            </div>
            <button type="button" mdbBtn color="light" class="z-depth-0" (click)="abrirModalCriar(modalCriar)" mdbWavesEffect>NOVA CONTAGEM</button>
        </div>
    </div>
    <div class="score">
        <div class="row">
            <div class="col-12">
                <mdb-card class="saldo-inicial z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Saldo inicial</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4 >{{ tesouraria.saldoInicial | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card class="saldo-atual z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Saldo atual</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4 >{{ tesouraria.saldoAtual | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card class="saldo-real z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Saldo real</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4 *ngIf="tesouraria.contagens[0] != null">{{ tesouraria.contagens[0].saldoReal | currency:'BRL' }}</h4>
                            <h4 *ngIf="tesouraria.contagens[0] == null">R$ 0,00</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <ngx-datatable
            [rows]="rows"
            class="material z-depth-0"
            [loadingIndicator]="indicadorDeCarregamento"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [messages]="{emptyMessage: '<center>Nenhuma movimentação cadastrada</center>' }"
            [limit]="6"
        >
            <ngx-datatable-column name="ID" [width]="100" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Tesouraria" [width]="200">
                <ng-template let-row="row" ngx-datatable-cell-template>{{ tesouraria.nome }}</ng-template>
            </ngx-datatable-column>  
            <ngx-datatable-column name="Saldo real" [width]="100">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span class="mobile-hidden">{{ column.name }}</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{ value | currency:'BRL' }}</span>
                  </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ações" [width]="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button class="btn-more" [matMenuTriggerFor]="actions"  mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actions="matMenu">
                        <button style="outline: none;" mat-menu-item (click)="abirModalEditar(row, modalEditar)">
                            <mat-icon>edit</mat-icon>Editar
                        </button>
                        <button mat-menu-item (click)="deletarContagem(row)">
                            <mat-icon>delete</mat-icon>Deletar
                        </button>
                    </mat-menu> 
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
<app-footer></app-footer>

<div mdbModal #modalCriar="mdbModal" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" aria-label="Close" (click)="modalCriar.hide()">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">NOVA CONTAGEM</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="f">
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Saldo real" formControlName="saldoReal" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                <mat-error>Esse campo é obrigatório</mat-error>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Saldo atual" formControlName="saldoAtual" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
                            </mat-form-field> 
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Saldo inicial" formControlName="saldoInicial" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
                            </mat-form-field> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="indigo" block="true" class="relative waves-light z-depth-0" [disabled]="!f.valid" (click)="salvarOuAtualizarContagem(f.value, modalCriar)" mdbWavesEffect>SALVAR</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #modalEditar="mdbModal" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" aria-label="Close" (click)="modalEditar.hide()">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">EDITAR CONTAGEM</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="f">
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Saldo real" formControlName="saldoReal" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                <mat-error>Esse campo é obrigatório</mat-error>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Registrado em" formControlName="registro" readonly>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Saldo atual" formControlName="saldoAtual" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
                            </mat-form-field> 
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Saldo inicial" formControlName="saldoInicial" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
                            </mat-form-field> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="indigo" block="true" class="relative waves-light z-depth-0" [disabled]="!f.valid" (click)="salvarOuAtualizarContagem(f.value, modalEditar)" mdbWavesEffect>ATUALIZAR</button>
            </div>
        </div>
    </div>
</div>

