.create-user {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .content {
        border: 3px solid #c5cbee;
        border-radius: 12px;
        padding: 40px; 
        cursor: pointer;

        .header {
            text-align: center;
            h5 {
                margin-top: 15px;
                margin-bottom: 40px;
                color: #1a237e; 
            }
        }

        .main {
            form {
                .input-width { width: 100% }

                .fix-spacing { margin-right: 40px }

                mat-icon { color: #3f51b5; }

                mat-error { margin-left: -12px }

                a { 
                    color: #1a237e; 
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .mobile-hidden { display: none }

}

@media (min-width: 768px) {
    .desktop-hidden { display: none }
}