* {
    margin: 0;
    padding: 0;;
}
  
.login {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    background-color: #ffbb33;
    .content {
        height: 650px;
        background-color: #fff;
        padding: 3%;
        display: flex;
        flex-direction: column;
        .header {
            text-align: center;
            margin: 5% 0%;
            h6 {
                font-size: 17px;
                font-weight: bold;
                letter-spacing: 5px;
            }
            P {
                margin: 5% 0%;
                font-size: 20px;
            }
        }
        
        .body {
            form {
                .input-width { width: 100% }

                mat-form-field, button {
                    margin-top: 5%;
                }

                mat-form-field {
                    button:focus { outline: none }
                }

                mat-error { margin-left: -12px }
            }    
        }
    }
}

/* Desktop grande */
@media (min-width: 1200px) { 
    .login {
        .content {
            width: 30%;
        }
    }
}


/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .login {
        .content {
            width: 50%;
        }
    }
}

/*Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) { 
    .login {
        .content {
            width: 55%;
        }
    }
}

@media screen and (max-width: 480px) {
    .login {
        .content {
            width: 90%;
        }
    }
}