* {
    margin: 0;
    padding: 0;
}
  
.login {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .content {
        height: 640px;
        width: 500px;
        background-color: #ffffff;
        border: 3px solid #d5e1e2;
        border-radius: 10px;
        padding: 40px; 
        .header {
            text-align: center;
            h6 {
                font-size: 17px;
                font-weight: bold;
                letter-spacing: 5px;
            }
            P {
                margin-top: 5%;
                font-size: 20px;
            }
        }
        
        .body {
            form {
                .input-width { width: 100% }

                mat-form-field, button {
                    margin-top: 5%;
                }

                mat-form-field {
                    button:focus { outline: none }
                }

                mat-error { margin-left: -12px }
            }    
        }

        .footer {
            p {
                text-align: center;
                margin-top: 40px;
            }
        }
    }
}