<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark cyan" [containerInside]="false">
    <mdb-navbar-brand>
        <img src="/assets/img/logotipo.png" alt="logotipo" width="50px" height="50px">
        <a routerLink="/home" class="navbar-brand">GSETE</a>
    </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav ml-auto"> 
                <li class="nav-item">
                    <a type="button" class="nav-link waves-light" (click)="logout()" mdbWavesEffect>
                        <mdb-icon fas icon="power-off"></mdb-icon> Sair<span class="caret"></span>
                    </a>
                </li>
            </ul>
        </links>
</mdb-navbar>