.moviment {
    margin: 1% 4% 0 4%;

    .header {
        h6 { text-align: right }

        .all-delete { 
            height: 53px;
            button { 
                float: right;
                margin-top:-8px;
            }

            button:focus { outline: none }
        }   
    }

    .main-content {
        ngx-datatable {
            width: 100%; 
            box-shadow: none;

            .button-actions { margin-top: -5px }

            .button-actions:focus { outline: none }

            .tipo-movimentacao {
                color: #fff;
                border-radius: 15px;
                padding: 5px;
                text-align: center;
            }   
        }
    }

    .footer { margin-top: 20px }
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-header { h4 { text-align: center } }

            .modal-body {
                form {
                    mat-form-field.input-width { width:100% }
                    
                    .creditos-content {
                        p { text-align: center }
                         mat-accordion {
                            margin-bottom: 5px;

                            .credit-header { font-weight: bold }

                            .titular-credito {
                                margin-top: 10px;
                                
                                button { margin-top: -10px }

                                .credito-ativo { color:#ff0000 }
                                .credito-ativo:focus { outline: none }

                                .credito-quitado { color:#33b5e5 }
                                .credito-quitado:focus { outline: none }
                            }

                            .info-credit {
                                margin-top: 8px;
                                font-size: 12px;
                                span {
                                    float: left;
                                    font-style: italic;
                                }
                                p { text-align: justify }
                            }
                        }

                        .button-add-credit { margin-top: 10px }
                    }
                }
            }
        }
    }
}