<app-menu></app-menu>
<div class="body">
    <div class="hero">
        <div class="row">
            <div class="col-8">
                <a type="button" (click)="router.navigateByUrl('/home')" class="nav-link waves-light">
                    <mdb-icon fas icon="home"></mdb-icon> Inicio<span class="caret"></span>
                </a>
                <mdb-icon fas icon="chevron-right"></mdb-icon> 
                <a type="button" class="nav-link waves-light">
                    <mdb-icon fas icon="folder-open"></mdb-icon> Movimentações<span class="caret"></span>
                </a>
            </div>
            <div class="col-2">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="mostrarModalEntrada(modalEntrada)" mdbWavesEffect>NOVA ENTRADA</button>
            </div>
            <div class="col-2">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="mostrarModalSaida(modalSaida)" mdbWavesEffect>NOVA SAIDA</button>
            </div>
        </div>
    </div>
    <div class="moviment z-depth-1-half">
        <div class="header">
            <div class="row">
                <div class="col-8">
                    <h4>{{ caixa.nome }}</h4>
                </div>
                <div class="col-4">
                    <h6>Saldo Atual: {{ caixa.saldoAtual | currency:'BRL' }}</h6>
                </div>
            </div>
            <div class="all-delete">
                <div class="alert alert-warning" role="alert" *ngIf="movimentacoesSelecionadas.length > 1">
                    {{ movimentacoesSelecionadas.length }} selecionado(s) ...
                    <button (click)="deletarMovimentacoesSelecionadas()" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="main-content">
            <ngx-datatable
                [rows]="rows"
                class="material"
                [loadingIndicator]="indicadorDeCarregamento"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [messages]="{emptyMessage: '<center>Nenhuma movimentação cadastrada</center>', totalMessage: 'total', selectedMessage: 'selecionado'}"
                [selectionType]="'checkbox'"
                (select)="aoSelecionar($event)"
                [selected]="movimentacoesSelecionadas"
                [limit]="5"
            >
            <ngx-datatable-column
                [width]="60"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                [headerCheckboxable]="true"
                [checkboxable]="true">
            </ngx-datatable-column>
                <ngx-datatable-column name="ID" [width]="50" prop="id"></ngx-datatable-column>
                <ngx-datatable-column name="Descrição" [width]="300" prop="descricao"></ngx-datatable-column>
                <ngx-datatable-column name="Valor" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template let-row="row">{{ row.valor | currency:'BRL' }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Tipo" [width]="200">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-row="row">
                    <div class="tipo-movimentacao" [ngClass]="{'info-color': row.tipo == 'ENTRADA', 'danger-color': row.tipo == 'SAIDA'}" >{{ row.tipo }}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Ações" [width]="100">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-row="row">
                        <button class="button-actions" (click)="setFormEntradaOuSaida(row, modalAtualizarEntrada, modalAtualizarSaida)" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="button-actions" (click)="deletarMovimentacao(row) "mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<app-footer></app-footer>

<div mdbModal #modalEntrada="mdbModal" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="ocultarModalEntrada(modalEntrada)">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">NOVA ENTRADA</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="f">
                    <div class="row">
                        <div class="col-8">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Descrição" formControlName="descricao" required>
                                <mat-error>Informe no mínimo quatro caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Valor" formControlName="valor" [(ngModel)]="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required >
                                <mat-error>Esse campo é obrigatório</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Ofertante" formControlName="ofertante">
                                <mat-error>Informe no mínimo quatro caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="creditos-content">
                        <div class="row">
                            <div class="col-6">
                                <h6>Creditos</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><p *ngIf="creditos.length == 0">Não há créditos adicionados</p></div>
                        </div> 
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let c of creditos; let i = index">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Titular</mat-panel-title>
                                    <mat-panel-description>{{ c.titular }}</mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="row">
                                    <div class="col-3 credit-header">Valdor do débito</div>
                                    <div class="col-3 credit-header">Situação</div>
                                    <div class="col-3 credit-header">Ativo em</div>
                                    <div class="col-3 credit-header">Ações</div>
                                </div>
                              <div class="row titular-credito">
                                <div class="col-3"> {{ c.valor | currency:'BRL' }}</div>
                                <div class="col-3"> {{ c.situacao }} </div>
                                <div class="col-3"> {{ c.abertura | dateFormat }} </div>
                                <div class="col-3">
                                    <button (click)="removerCredito(i, c)" mat-icon-button>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                              </div>   
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-3">
                                <button class="relative waves-light z-depth-0 button-add-credit" mdbBtn  block="true" type="button" color="amber" (click)="modalCredito.show()" mdbWavesEffect>ADICIONAR</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="input-width">
                                <textarea  #input matInput placeholder="observacões" maxlength="200" formControlName="observacoes"></textarea>
                                <mat-error>Informe um valor com no mínimo quatro caracteres</mat-error>
                                <mat-hint>{{input.value?.length || 0}}/200</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>    
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="danger" class="waves-light z-depth-0" (click)="limparForm(f)" mdbWavesEffect>LIMPAR</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light z-depth-0" [disabled]="!f.valid" (click)="salvarOuAtualizarEntrada(f.value, modalEntrada)" mdbWavesEffect>SALVAR</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #modalAtualizarEntrada="mdbModal" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalAtualizarEntrada.hide()">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">ATUALIZAR ENTRADA</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="f">
                    <div class="row">
                        <div class="col-8">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Descrição" formControlName="descricao" required>
                                <mat-error>Informe no mínimo quatro caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Valor" formControlName="valor" [(ngModel)]="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required >
                                <mat-error>Esse campo é obrigatório</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Ofertante" formControlName="ofertante">
                                <mat-error>Informe no mínimo quatro caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Data de registro" formControlName="registro" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="creditos-content">
                        <div class="row">
                            <div class="col-6">
                                <h6>Creditos</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><p *ngIf="creditos.length == 0">Não há créditos adicionados</p></div>
                        </div> 
                        
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let c of creditos; let i = index">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Titular</mat-panel-title>
                                    <mat-panel-description>{{ c.titular }}</mat-panel-description>
                                </mat-expansion-panel-header>
                          
                                <div class="row">
                                    <div class="col-3 credit-header">Valor do débito</div>
                                    <div class="col-3 credit-header">Situação</div>
                                    <div class="col-3 credit-header" *ngIf="c.situacao == 'ENCERRADO'">
                                        Encerrado em
                                    </div>
                                    <div class="col-3 credit-header" *ngIf="c.situacao != 'ENCERRADO'">
                                        Ativo em
                                    </div>
                                    <div class="col-3 credit-header">Ações</div>
                                </div>
                                <div class="row titular-credito">
                                    <div class="col-3"> {{ c.valor | currency:'BRL' }}</div>
                                    <div class="col-3"> {{ c.situacao }} </div>
                                    <div class="col-3" *ngIf="c.situacao == 'ENCERRADO'">
                                        {{ c.encerramento | dateFormat }} 
                                    </div>
                                    <div class="col-3" *ngIf="c.situacao != 'ENCERRADO'">
                                        {{ c.abertura | dateFormat }} 
                                    </div>
                                    <div class="col-3">
                                        <button (click)="removerCredito(i, c)" [disabled]="c.situacao == 'ENCERRADO'" mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <button class="credito-ativo" *ngIf="c.situacao == 'ABERTO'" (click)="quitarCredito(c)" mat-icon-button>
                                            <mat-icon>thumb_down</mat-icon>
                                        </button>
                                        <button class="credito-quitado" *ngIf="c.situacao == 'QUITADO'" (click)="quitarCredito(c)" mat-icon-button>
                                            <mat-icon>thumb_up</mat-icon>
                                        </button>
                                    </div>
                                </div>   
                                <div class="row info-credit" *ngIf="c.situacao != 'ENCERRADO'">
                                    <div class="col">
                                        <span>Observações:&nbsp;</span><p>precione o botão vermelho para alterar a situação do credito, depois precione atualizar para efetivar a operação</p>  
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="row">
                            <div class="col"><br></div>
                        </div>
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-3">
                                <button class="relative waves-light z-depth-0" block="true" mdbBtn type="button" color="amber" (click)="modalCredito.show()" mdbWavesEffect>ADICIONAR</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="input-width">
                                <textarea  #input matInput placeholder="observacões" maxlength="200" formControlName="observacoes"></textarea>
                                <mat-error>Informe um valor com no mínimo quatro caracteres</mat-error>
                                <mat-hint>{{input.value?.length || 0}}/200</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>       
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="primary" class="relative waves-light z-depth-0" [disabled]="!f.valid" (click)="salvarOuAtualizarEntrada(f.value, modalAtualizarEntrada)" mdbWavesEffect>ATUALIZAR</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #modalSaida="mdbModal" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalSaida.hide()">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">NOVA SAIDA</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="fsaidas">
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Descrição" formControlName="descricao">
                                <mat-error>Informe no mínimo 4  e no máximo 50 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Valor" formControlName="valor" [(ngModel)]="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required >
                                <mat-error>Esse campo é obrigatório</mat-error>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="input-width">
                                <textarea #input matInput placeholder="motivo" maxlength="200" formControlName="motivo"></textarea>
                                <mat-error>Informe um valor com no mínimo quatro caracteres</mat-error>
                                <mat-hint>{{ input.value?.length || 0 }}/200</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="danger" block="true" class="relative waves-light z-depth-0" [disabled]="!fsaidas.valid" (click)="salvarOuAtualizarSaida(fsaidas.value, modalSaida)" mdbWavesEffect>SALVAR</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #modalAtualizarSaida="mdbModal" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="ocultarModalAtualizarSaida(modalAtualizarSaida);">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">EDITAR SAIDA</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="fsaidas">
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Descrição" formControlName="descricao">
                                <mat-error>Informe no mínimo 4  e no máximo 50 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Valor" formControlName="valor" [(ngModel)]="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                <mat-error>Esse campo é obrigatório</mat-error>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Data de registro" formControlName="registro" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="input-width">
                                <textarea #input matInput placeholder="motivo" maxlength="200" formControlName="motivo"></textarea>
                                <mat-error>Informe um valor com no mínimo quatro caracteres</mat-error>
                                <mat-hint>{{ input.value?.length || 0}}/200</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="danger" block="true" class="relative waves-light z-depth-0" [disabled]="!fsaidas.valid" (click)="salvarOuAtualizarSaida(fsaidas.value, modalAtualizarSaida)" mdbWavesEffect>ATUALIZAR</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #modalCredito="mdbModal" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalCredito.hide()">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">NOVO CRÉDITO</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="fcreditos">
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Titular" formControlName="titular" required >
                                <mat-error>Informe no mínimo 4  e no máximo 50 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Valor" formControlName="valor" [(ngModel)]="valorCredito" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                <mat-error>O valor é obrigatório</mat-error>
                            </mat-form-field>
                        </div>
                    </div><br>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="default" block=true class="relative waves-light z-depth-0" (click)="addCredito(fcreditos, modalCredito)" [disabled]="!fcreditos.valid" mdbWavesEffect>ADICIONAR</button>
            </div>
        </div>
    </div>
</div>

