.button-float-right {
    float: right;
}

.edit-icon {
    cursor: pointer;
}

.input-width {
    width: 100%;
}

.text-white {
    color: #ffff;
}

.tipo-movimentacao {
    color: #fff;
    border-radius: 15px;
    padding: 5px;
}

.status-credito {
    color: #fff;
    border-radius: 15px;
    padding: 2px;
    text-align: center; 
}

.list-credit {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100px;
}

.credit-item {
    margin-bottom: 6px;
}


.situacao-pendencia {
    color: #fff;
    border-radius: 15px;
    font-size: 12px;
    padding: 3px;
}