 .body {
    padding-bottom: 115px;
    background-color: #d3e0e2;

    .hero {
        height: 220px;
        padding: 10px 35px;
        background-color: #00b8d4;
        
        .info-page {
            margin-top: 50px;
            h3 {
                float: left;
                color: #fff; 
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
            }

            mat-icon { 
                margin-right: 30px;
                font-size: 32px;
                color: #fff;
                float: left;
            }

            button {
                margin-top: -10px;
            }
        }
    }

    .moviment {
        margin: -70px 35px;
        padding: 30px 35px 40px 35px;
        background-color: #fff;
        border-radius: 6px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        .header {
            .all-delete { 
                button { 
                    float: right;
                    margin-top:-8px;
                }

                button:focus { outline: none }
            }  
            
            mdb-card {
                cursor: pointer;
                margin-bottom: 30px;

                h4 { margin-top: -10px }

                mat-icon {
                    font-size: 40px;
                    float: right;
                    margin-top: 10px;
                }
            }

            mdb-card.saldo-inicial {
                background-color: #2BBBAD;

                p, h4, mat-icon {
                    color: #fff;
                }
            }

            mdb-card.saldo-atual {
                background-color: #ffbb33;

                p, h4, mat-icon {
                    color: #fff;
                }
            }

            mdb-card.saldo-real {
                background-color: #ff4444;

                p, h4, mat-icon {
                    color: #fff;
                }
            }
        }

        .main-content {
            ngx-datatable {
                width: 100%; 
                box-shadow: none;

                .button-actions { margin-top: -5px }

                .button-actions:focus { outline: none }

                .tipo-movimentacao {
                    color: #fff;
                    border-radius: 15px;
                    padding: 5px;
                    text-align: center;
                }   
            }
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-header { h4 { text-align: center } }

            .modal-body {
                form {
                    mat-form-field.input-width { width:100% }
                    
                    .creditos-content {
                        p { text-align: center }
                         mat-accordion {
                            margin-bottom: 5px;

                            .credit-header { 
                                font-weight: bold;
                                text-align: right;
                            }
                                
                            button { margin-top: -10px }

                            .credito-ativo { color:#ff0000 }
                            .credito-ativo:focus { outline: none }

                            .credito-quitado { color:#33b5e5 }
                            .credito-quitado:focus { outline: none }
                            
                            .info-credit {
                                margin-top: 8px;
                                font-size: 12px;
                                span {
                                    float: left;
                                    font-style: italic;
                                }
                                p { text-align: justify }
                            }
                        }

                        .button-add-credit { margin: 10px 0 }
                    }
                }
            }
        }
    }
}

@media (max-width: 824px) {

    .body { display: none }

    .mobile {
        .hero {
            height: 240px;
            padding: 30px 35px;
            background-color: #00b8d4;
            
            .header-page {
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;       

                h4 {
                    text-align: center;
                    float: left;
                    color: #fff; 
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
                }

                mat-icon { 
                    margin-right: 20px;
                    font-size: 32px;
                    color: #fff;
                    float: left;
                }

                button { width: 260px }
            }
        }

        .movment {
            padding: 20px 5px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            mdb-card {
                cursor: pointer;

                h4 { margin-top: -10px }

                mat-icon {
                    font-size: 40px;
                    float: right;
                    margin-top: 10px;
                }
            }

            mdb-card {
                cursor: pointer;
                margin-bottom: 10px;

                h4 { margin-top: -10px }

                mat-icon {
                    font-size: 40px;
                    float: right;
                    margin-top: 10px;
                }
            }

            mdb-card.saldo-inicial {
                background-color: #2BBBAD;

                p, h4, mat-icon {
                    color: #fff;
                }
            }

            mdb-card.saldo-atual {
                background-color: #ffbb33;

                p, h4, mat-icon {
                    color: #fff;
                }
            }

            mdb-card.saldo-real {
                background-color: #ff4444;
                
                p, h4, mat-icon {
                    color: #fff;
                }
            }

            ngx-datatable {
                width: 100%;

                .btn-more { margin-top: -10px }

                .btn-more:focus { outline: none }
            }
        }
    }
}

@media (min-width: 824px) {
    .mobile { display: none }
}


@media (max-width: 480px) {

    .mobile-hidden { display: none }
}