<app-menu></app-menu>
<div class="body">
    <div class="hero">
        <div class="row info-page">
            <div class="col-md-6 col-lg-6 col-xl-8">
                <div class="name-page">
                    <mat-icon>layers</mat-icon>
                    <h2>Movimentações</h2>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="mostrarModalEntrada(modalEntrada)" mdbWavesEffect>NOVA ENTRADA</button>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="mostrarModalSaida(modalSaida)" mdbWavesEffect>NOVA SAIDA</button>
            </div>
        </div>
    </div>
    <div class="moviment z-depth-1-half">
        <div class="header">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <mdb-card class="saldo-inicial z-depth-0" mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>attach_money</mat-icon>
                            <mdb-card-text>
                                <p>Saldo inicial</p>
                            </mdb-card-text>
                            <mdb-card-title>
                                <h4 >{{ tesouraria.saldoInicial | currency:'BRL' }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <mdb-card class="saldo-atual z-depth-0" mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>attach_money</mat-icon>
                            <mdb-card-text>
                                <p>Saldo atual</p>
                            </mdb-card-text>
                            <mdb-card-title>
                                <h4 >{{ tesouraria.saldoAtual | currency:'BRL' }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <mdb-card class="saldo-real z-depth-0" mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>attach_money</mat-icon>
                            <mdb-card-text>
                                <p>Saldo real</p>
                            </mdb-card-text>
                            <mdb-card-title>
                                <h4 *ngIf="tesouraria.contagens[0] != null">{{ tesouraria.contagens[0].saldoReal | currency:'BRL'  }}</h4>
                                <h4 *ngIf="tesouraria.contagens[0] == null">Não contabilizado</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>

            <div class="all-delete">
                <div class="alert alert-warning" role="alert" *ngIf="movimentacoesSelecionadas.length > 1">
                    {{ movimentacoesSelecionadas.length }} selecionado(s) ...
                    <button (click)="deletarMovimentacoesSelecionadas()" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            
        </div>
        <div class="main-content">
            <ngx-datatable
                [rows]="rows"
                class="material"
                [loadingIndicator]="indicadorDeCarregamento"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [messages]="{emptyMessage: '<center>Nenhuma movimentação cadastrada</center>', totalMessage: 'total', selectedMessage: 'selecionado'}"
                [selectionType]="'checkbox'"
                (select)="aoSelecionar($event)"
                [selected]="movimentacoesSelecionadas"
                [limit]="6"
            >
            <ngx-datatable-column
                [width]="50"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                [headerCheckboxable]="true"
                [checkboxable]="true">
    
            </ngx-datatable-column>
                <ngx-datatable-column name="Descrição" [width]="250" prop="descricao"></ngx-datatable-column>
                <ngx-datatable-column name="Valor" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template let-row="row">
                        <div >{{ row.valor | currency:'BRL' }}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Registrado em" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template let-row="row">
                        <div >{{ row.registro | dateFormat }}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Tipo" [width]="150">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-row="row">
                    <div class="tipo-movimentacao" [ngClass]="{'info-color': row.tipo == 'ENTRADA', 'danger-color': row.tipo == 'SAIDA'}" >{{ row.tipo }}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Ações" [width]="100">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-row="row">
                        <button class="button-actions" (click)="setFormEntradaOuSaida(row, modalAtualizarEntrada, modalAtualizarSaida)" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="button-actions" (click)="deletarMovimentacao(row)" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>

<div class="mobile">
    <div class="hero">
        <div class="header-page">
            <div class="name-page">
                <mat-icon>layers</mat-icon>
                <h2>Movimentações</h2>
            </div>
            <button type="button" mdbBtn color="light" class="z-depth-0" (click)="mostrarModalEntrada(modalEntrada)" mdbWavesEffect>NOVA ENTRADA</button>
            <button type="button" mdbBtn color="light" class="z-depth-0" (click)="mostrarModalSaida(modalSaida)" mdbWavesEffect>NOVA SAIDA</button>
        </div>
    </div>
    <div class="movment">
        <div class="row">
            <div class="col-12">
                <mdb-card class="saldo-inicial z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Saldo inicial</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4 >{{ tesouraria.saldoInicial | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card class="saldo-atual z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Saldo atual</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4 >{{ tesouraria.saldoAtual | currency:'BRL' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card class="saldo-real z-depth-0" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>attach_money</mat-icon>
                        <mdb-card-text>
                            <p>Saldo real</p>
                        </mdb-card-text>
                        <mdb-card-title>
                            <h4 *ngIf="tesouraria.contagens[0] != null">{{ tesouraria.contagens[0].saldoReal | currency:'BRL' }}</h4>
                            <h4 *ngIf="tesouraria.contagens[0] == null">R$ 0,00</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <ngx-datatable
            [rows]="rows"
            class="material z-depth-0"
            [loadingIndicator]="indicadorDeCarregamento"
            [messages]="{emptyMessage: '<center>Nenhuma movimentação cadastrada</center>', totalMessage: 'total', selectedMessage: 'selecionado'}"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [limit]="6"
        >
            <ngx-datatable-column name="Descrição" [width]="250" prop="descricao"></ngx-datatable-column>
            <ngx-datatable-column name="Valor" [width]="100">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span class="mobile-hidden">{{ column.name }}</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{ value | currency:'BRL' }}</span>
                  </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ações" [width]="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-row="row">
                    <button class="btn-more" [matMenuTriggerFor]="actions"  mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actions="matMenu">
                        <button style="outline: none;" mat-menu-item  (click)="setFormEntradaOuSaida(row, modalAtualizarEntrada, modalAtualizarSaida)">
                            <mat-icon>edit</mat-icon>Editar
                        </button>
                        <button mat-menu-item (click)="deletarMovimentacao(row)">
                            <mat-icon>delete</mat-icon>Deletar
                        </button>
                    </mat-menu> 
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<app-footer></app-footer>

<div mdbModal #modalEntrada="mdbModal" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" aria-label="Close" (click)="ocultarModalEntrada(modalEntrada)">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">NOVA ENTRADA</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="f">
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Descrição" formControlName="descricao" required>
                                <mat-error>Informe no mínimo quatro caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Valor" formControlName="valor" [(ngModel)]="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required >
                                <mat-error>Esse campo é obrigatório</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Ofertante" formControlName="ofertante">
                                <mat-error>Informe no mínimo quatro caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="creditos-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Creditos</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><p *ngIf="creditos.length == 0">Não há créditos adicionados</p></div>
                        </div> 
            
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let c of creditos; let i = index">
                                <mat-expansion-panel-header mdbWavesEffect>
                                    <mat-panel-description style="width: 50%;">
                                        <mat-icon>face</mat-icon>
                                        {{ c.titular }}
                                    </mat-panel-description>
                                    <mat-panel-description style="width: 50%;">
                                        <mat-icon>phone</mat-icon>
                                        {{ c.telefone }}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <mdb-card class="z-depth-0 card-credit danger-color" mdbWavesEffect>
                                    <mdb-card-body>
                                        <mdb-card-text>
                                            <p>{{ c.situacao }}</p>
                                        </mdb-card-text>  
                                        <mdb-card-text>
                                            <p>{{ c.telefone }}</p>
                                        </mdb-card-text>            
                                        <mdb-card-title>
                                            <h4>{{ c.valor | currency:'BRL' }}</h4>
                                        </mdb-card-title>  
                                        <mdb-card-text>
                                            <p>{{ c.registro | dateFormat }}</p>
                                        </mdb-card-text>   
                                        <button (click)="removerCredito(i, c)" mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>                              
                                    </mdb-card-body>                              
                                </mdb-card>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-8 col-lg-9"></div>
                            <div class="col-sm-12 col-md-4 col-lg-3">
                                <button class="relative waves-light z-depth-0 button-add-credit" mdbBtn  block="true" type="button" color="default" (click)="modalCredito.show()" mdbWavesEffect>ADICIONAR</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="input-width">
                                <textarea  #obs matInput placeholder="Detalhes" maxlength="200" formControlName="detalhes"></textarea>
                                <mat-error>Informe um valor com no mínimo quatro caracteres</mat-error>
                                <mat-hint>{{obs.value?.length || 0}}/200</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>    
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="danger" class="waves-light z-depth-0" (click)="limparForm(f)" mdbWavesEffect>LIMPAR</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light z-depth-0" [disabled]="!f.valid" (click)="salvarOuAtualizarEntrada(f.value, modalEntrada)" mdbWavesEffect>SALVAR</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #modalAtualizarEntrada="mdbModal" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" aria-label="Close" (click)="modalAtualizarEntrada.hide()">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">ATUALIZAR ENTRADA</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="f">
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Descrição" formControlName="descricao" required>
                                <mat-error>Informe no mínimo quatro caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Valor" formControlName="valor" [(ngModel)]="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required >
                                <mat-error>Esse campo é obrigatório</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Ofertante" formControlName="ofertante">
                                <mat-error>Informe no mínimo quatro caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Data de registro" formControlName="registro" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="creditos-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Creditos</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><p *ngIf="creditos.length == 0">Não há créditos adicionados</p></div>
                        </div> 
                       
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let c of creditos; let i = index">
                                <mat-expansion-panel-header mdbWavesEffect>
                                    <mat-panel-description style="width: 50%;">
                                        <mat-icon>face</mat-icon>
                                        {{ c.titular }}
                                    </mat-panel-description>
                                    <mat-panel-description style="width: 50%;">
                                        <mat-icon>phone</mat-icon>
                                        {{ c.telefone }}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                          
                                <mdb-card class="z-depth-0 card-credit" [ngClass]="{ 'danger-color': c.situacao == 'ABERTO', 'info-color': c.situacao == 'QUITADO', 'default-color': c.situacao == 'ENCERRADO' }" mdbWavesEffect>
                                    <mdb-card-body (click)="quitarCredito(c)">
                                        <mdb-card-text>
                                            <p>{{ c.situacao }}</p>
                                        </mdb-card-text>             
                                        <mdb-card-title>
                                            <h4>{{ c.valor | currency:'BRL' }}</h4>
                                        </mdb-card-title>                                        
                                        <mdb-card-text>                                        
                                            <p>{{ c.registro | dateFormat }}</p>
                                        </mdb-card-text>   

                                        <button (click)="removerCredito(i, c)" *ngIf="c.situacao != 'ENCERRADO'" mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>                         
                                    </mdb-card-body>                              
                                </mdb-card>

                                <div class="row info-credit" *ngIf="c.situacao != 'ENCERRADO'">
                                    <div class="col">
                                        <mat-icon>info</mat-icon><p>Click no card para alterar a situação do credito, depois precione atualizar para efetivar a operação</p>  
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-sm-6 col-md-6 col-lg-9"></div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <button class="relative waves-light z-depth-0" block="true" mdbBtn type="button" color="default" (click)="modalCredito.show()" mdbWavesEffect>ADICIONAR</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="input-width">
                                <textarea  #obs matInput placeholder="Detalhes" maxlength="200" formControlName="detalhes"></textarea>
                                <mat-error>Informe um valor com no mínimo quatro caracteres</mat-error>
                                <mat-hint>{{obs.value?.length || 0}}/200</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>       
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="primary" class="relative waves-light z-depth-0" [disabled]="!f.valid" (click)="salvarOuAtualizarEntrada(f.value, modalAtualizarEntrada)" mdbWavesEffect>ATUALIZAR</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #modalSaida="mdbModal" style="overflow-y: auto" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" aria-label="Close" (click)="modalSaida.hide()">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">NOVA SAIDA</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="fsaidas">
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Descrição" formControlName="descricao">
                                <mat-error>Informe no mínimo 4  e no máximo 50 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Valor" formControlName="valor" [(ngModel)]="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required >
                                <mat-error>Esse campo é obrigatório</mat-error>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="input-width">
                                <textarea #detalhes matInput placeholder="Detalhes" maxlength="200" formControlName="detalhes"></textarea>
                                <mat-error>Informe um valor com no mínimo quatro caracteres</mat-error>
                                <mat-hint>{{ detalhes.value?.length || 0 }}/200</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="danger" block="true" class="relative waves-light z-depth-0" [disabled]="!fsaidas.valid" (click)="salvarOuAtualizarSaida(fsaidas.value, modalSaida)" mdbWavesEffect>SALVAR</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #modalAtualizarSaida="mdbModal" class="modal fade modal-zindex" style="overflow-y: auto" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" aria-label="Close" (click)="ocultarModalAtualizarSaida(modalAtualizarSaida);">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">EDITAR SAIDA</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="fsaidas">
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Descrição" formControlName="descricao">
                                <mat-error>Informe no mínimo 4  e no máximo 50 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Valor" formControlName="valor" [(ngModel)]="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                <mat-error>Esse campo é obrigatório</mat-error>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Data de registro" formControlName="registro" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="input-width">
                                <textarea #input matInput placeholder="Detalhes" maxlength="200" formControlName="detalhes"></textarea>
                                <mat-error>Informe um valor com no mínimo quatro caracteres</mat-error>
                                <mat-hint>{{ input.value?.length || 0}}/200</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="danger" block="true" class="relative waves-light z-depth-0" [disabled]="!fsaidas.valid" (click)="salvarOuAtualizarSaida(fsaidas.value, modalAtualizarSaida)" mdbWavesEffect>ATUALIZAR</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #modalCredito="mdbModal" class="modal fade modal-zindex" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" aria-label="Close" (click)="modalCredito.hide()">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">NOVO CRÉDITO</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="fcreditos">
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Titular" formControlName="titular" maxlength="200" required>
                                <mat-error>Informe no mínimo 4  e no máximo 20 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Valor" formControlName="valor" [(ngModel)]="valorCredito" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                <mat-error>O valor é obrigatório</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Telefone" formControlName="telefone" mask="(00) 00000-0000" required>
                                <mat-error>Preencha essa capo corretamente, ex: (00) 00000-000 </mat-error>
                            </mat-form-field>
                        </div>
                    </div><br>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="default" block=true class="relative waves-light z-depth-0" (click)="addCredito(fcreditos, modalCredito)" [disabled]="!fcreditos.valid" mdbWavesEffect>ADICIONAR</button>
            </div>
        </div>
    </div>
</div>

