.body {
    padding-bottom: 8%;
    background-color: #d3e0e2;
    .hero {
        height: 210px;
        padding: 10px 60px;
        background-color: #00b8d4;
        
        a:first-child {
            color: #fff;
            margin-left: -10px;
        }
        a, mdb-icon { color: #fff; }

        .info-page {
            margin-top: 45px;
            h5 { 
                text-align: right;
                color: #fff;
            }

            h3 {
                color: #fff; 
                text-transform: uppercase;
            }
        }
    }

    .graphic {
        height: 1500px;
        margin: -60px 60px;
        padding: 40px 50px;
        background-color: #fff;
        border-radius: 6px;

        h5 { text-align: center;}
    }
}