<app-menu></app-menu>
<div class="body">
    <div class="hero">
        <div class="row">
            <div class="col">
                <a type="button" (click)="router.navigateByUrl('/home')" class="nav-link waves-light">
                    <mdb-icon fas icon="home"></mdb-icon> Inicio<span class="caret"></span>
                </a>
                <mdb-icon fas icon="chevron-right"></mdb-icon> 
                <a type="button" class="nav-link waves-light">
                    <mdb-icon fas icon="cogs"></mdb-icon> Grafico<span class="caret"></span>
                </a>
            </div>
        </div>
        <div class="row info-page">
            <div class="col-6">
                <h3>{{ this.caixa.nome }}</h3>
            </div>
            <div class="col-6">
                <h5>Total em caixa: {{ this.caixa.saldoAtual | currency:'BRL' }}</h5>
            </div>
        </div>
    </div>

    <div class="graphic z-depth-1-half">
        <div class="row">
            <div class="col-12">
                <h5>Histórico de movimentações de {{ now }}</h5>
            </div>
            <div class="col-12">
                <div>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [(datasets)]="chartDatasets1"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true"
                    >
                    </canvas>
                </div>
            </div>
        </div>
        <div class="row"><br><br></div>
        <div class="row">
            <div class="col-12">
                <h5>Histórico de contagens de {{ now }}</h5>
            </div>
            <div class="col-12">
                <div>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [(datasets)]="chartDatasets2"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
